Repository Team-odongdong/odongdong, pull requests merged in 2022-12, with the labels that each got.

#97 유저서비스 제작 ( Feature/userService )
  src/backend/src/main/java/com/graduate/odondong/config/Security/OAuth2AuthenticationSuccessHandler.java
  src/backend/src/main/java/com/graduate/odondong/config/SecurityConfig.java
  src/backend/src/main/java/com/graduate/odondong/config/WebConfig.java
  src/backend/src/main/java/com/graduate/odondong/controller/UserController.java
  src/backend/src/main/java/com/graduate/odondong/dto/UserProfileResponseDto.java
  src/backend/src/main/java/com/graduate/odondong/service/UserService.java
  src/backend/src/test/java/com/graduate/odondong/GraduatePrjApplicationTests.java
Labels: backend, feat

#101 화장실 수정 구현
  src/backend/src/main/java/com/graduate/odondong/controller/BathroomController.java
  src/backend/src/main/java/com/graduate/odondong/domain/Bathroom.java
  src/backend/src/main/java/com/graduate/odondong/domain/UpdatedBathroom.java
  src/backend/src/main/java/com/graduate/odondong/dto/BathroomUpdateRequestDto.java
  src/backend/src/main/java/com/graduate/odondong/repository/BathroomRepository.java
  src/backend/src/main/java/com/graduate/odondong/repository/UpdatedBathroomRepository.java
  src/backend/src/main/java/com/graduate/odondong/service/BathroomService/BathroomService.java
  src/backend/src/main/java/com/graduate/odondong/util/BaseResponseStatus.java
  src/backend/src/main/resources/templates/edit.html
Labels: backend

#110 전체적인 코드 리팩토링
  src/backend/src/main/java/com/graduate/odondong/OdondongApplication.java
  src/backend/src/main/java/com/graduate/odondong/aop/FilterChainProxyAdvice.java
  src/backend/src/main/java/com/graduate/odondong/config/FilterChainProxyAdvice.java
  src/backend/src/main/java/com/graduate/odondong/controller/BathroomController.java
  src/backend/src/main/java/com/graduate/odondong/controller/InqueryController.java
  src/backend/src/main/java/com/graduate/odondong/controller/RatingController.java
  src/backend/src/main/java/com/graduate/odondong/controller/UserController.java
  src/backend/src/main/java/com/graduate/odondong/dto/BathroomRequestDto.java
  src/backend/src/main/java/com/graduate/odondong/service/BathroomService/BathroomService.java
  src/backend/src/main/java/com/graduate/odondong/service/BathroomService/BulkInsertPublicBathroom.java
  src/backend/src/main/java/com/graduate/odondong/service/BathroomService/DeletedBathroomService.java
  src/backend/src/main/java/com/graduate/odondong/service/BathroomService/UpdatedBathroomService.java
  src/backend/src/main/java/com/graduate/odondong/service/InqueryService.java
  src/backend/src/main/java/com/graduate/odondong/service/RatingService.java
  src/backend/src/main/java/com/graduate/odondong/service/UserService.java
  src/backend/src/main/java/com/graduate/odondong/util/BaseResponseStatus.java
  src/backend/src/main/java/com/graduate/odondong/util/ErrorLogWriter.java
Labels: refactor

#112 [feat] 메인 화면에 화장실 이외의 데이터들을 위한 필터 추가
  src/frontend/odongdong/.prettierrc
  src/frontend/odongdong/src/app/components/data-filter/data-filter.component.html
  src/frontend/odongdong/src/app/components/data-filter/data-filter.component.scss
  src/frontend/odongdong/src/app/components/data-filter/data-filter.component.spec.ts
  src/frontend/odongdong/src/app/components/data-filter/data-filter.component.ts
  src/frontend/odongdong/src/app/components/data-filter/data-filter.module.ts
  src/frontend/odongdong/src/app/tabs/main-tab/main.module.ts
  src/frontend/odongdong/src/app/tabs/main-tab/main.page.html
  src/frontend/odongdong/src/app/tabs/main-tab/main.page.ts
Labels: frontend, feat

#114 *시간 형태의 데이터 플래그를 true로 업데이트, ~00:00 꼴의 시간 정보인 경우 ~24:00로 변환
  src/ELTScript/changeOpenTimeFormat.py
Labels: frontend, feat

#116 등록 수정 관리자 화면 수정
  src/backend/src/main/java/com/graduate/odondong/controller/BathroomController.java
  src/backend/src/main/resources/templates/edit.html
  src/backend/src/main/resources/templates/register.html
Labels: bug, backend

#117 별점 api 구현
  src/backend/src/main/java/com/graduate/odondong/controller/RatingController.java
  src/backend/src/main/java/com/graduate/odondong/domain/Rating.java
  src/backend/src/main/java/com/graduate/odondong/dto/RatingRequestDto.java
  src/backend/src/main/java/com/graduate/odondong/dto/RatingResponseDto.java
  src/backend/src/main/java/com/graduate/odondong/repository/RatingRepository.java
  src/backend/src/main/java/com/graduate/odondong/service/RatingService.java
  src/backend/src/main/java/com/graduate/odondong/service/UserService.java
  src/backend/src/main/java/com/graduate/odondong/util/BaseResponseStatus.java
Labels: backend, feat

#126 수정 관리자화면 제거 버튼 구현
  src/backend/src/main/resources/templates/edit.html
Labels: bug, backend

#127 관리자 페이지 cors에러 수정
  src/backend/src/main/java/com/graduate/odondong/config/WebConfig.java
Labels: bug

#118 화장실 수정 도메인 유저 매핑
  src/backend/src/main/java/com/graduate/odondong/controller/BathroomController.java
  src/backend/src/main/java/com/graduate/odondong/domain/UpdatedBathroom.java
  src/backend/src/main/java/com/graduate/odondong/dto/BathroomUpdateRequestDto.java
  src/backend/src/main/java/com/graduate/odondong/service/BathroomService/UpdatedBathroomService.java
  src/backend/src/main/java/com/graduate/odondong/service/UserService.java
Labels: backend, refactor

#130 화장실 정보 카드를 클릭했을 때의 동작
  src/frontend/odongdong/src/app/components/bathroom-detail/bathroom-detail.component.html
  src/frontend/odongdong/src/app/components/bathroom-detail/bathroom-detail.component.scss
  src/frontend/odongdong/src/app/components/bathroom-detail/bathroom-detail.component.ts
  src/frontend/odongdong/src/app/tabs/main-tab/main.module.ts
  src/frontend/odongdong/src/app/tabs/main-tab/main.page.scss
Labels: frontend, feat

#131 SEO setting
  src/frontend/odongdong/src/index.html
Labels: frontend, feat

#135 Feature/bathroom edit
  src/frontend/odongdong/.prettierrc
  src/frontend/odongdong/package-lock.json
  src/frontend/odongdong/package.json
  src/frontend/odongdong/src/app/app-routing.module.ts
  src/frontend/odongdong/src/app/app.component.scss
  src/frontend/odongdong/src/app/components/bathroom-detail/bathroom-detail.component.html
  src/frontend/odongdong/src/app/components/bathroom-detail/bathroom-detail.component.scss
  src/frontend/odongdong/src/app/components/bathroom-detail/bathroom-detail.component.ts
  src/frontend/odongdong/src/app/components/time-picker/time-picker.component.html
  src/frontend/odongdong/src/app/components/time-picker/time-picker.component.scss
  src/frontend/odongdong/src/app/components/time-picker/time-picker.component.spec.ts
  src/frontend/odongdong/src/app/components/time-picker/time-picker.component.ts
  src/frontend/odongdong/src/app/components/time-picker/time-picker.module.ts
  src/frontend/odongdong/src/app/entities/bathroom.ts
  src/frontend/odongdong/src/app/pages/edit-bathroom/edit-bathroom-routing.module.ts
  src/frontend/odongdong/src/app/pages/edit-bathroom/edit-bathroom.module.ts
  src/frontend/odongdong/src/app/pages/edit-bathroom/edit-bathroom.page.html
  src/frontend/odongdong/src/app/pages/edit-bathroom/edit-bathroom.page.scss
  src/frontend/odongdong/src/app/pages/edit-bathroom/edit-bathroom.page.spec.ts
  src/frontend/odongdong/src/app/pages/edit-bathroom/edit-bathroom.page.ts
  src/frontend/odongdong/src/app/services/bathroom/bathroom-service.ts
  src/frontend/odongdong/src/app/services/common/common-service.ts
  src/frontend/odongdong/src/app/services/time/time-service.ts
  src/frontend/odongdong/src/app/tabs/main-tab/main.page.scss
  src/frontend/odongdong/src/app/tabs/main-tab/main.page.ts
  src/frontend/odongdong/src/app/tabs/tabs-routing.module.ts
  src/frontend/odongdong/src/assets/svg/map/edit.svg
  src/frontend/odongdong/src/global.scss
  src/frontend/odongdong/src/theme/common.scss
Labels: frontend, feat

#138 유저별 등록 요청한 화장실 목록
  src/frontend/odongdong/src/app/app-routing.module.ts
  src/frontend/odongdong/src/app/components/bathroom-detail/bathroom-detail.component.html
  src/frontend/odongdong/src/app/components/registered-bathroom-item/registered-bathroom-item.component.html
  src/frontend/odongdong/src/app/components/registered-bathroom-item/registered-bathroom-item.component.scss
  src/frontend/odongdong/src/app/components/registered-bathroom-item/registered-bathroom-item.component.spec.ts
  src/frontend/odongdong/src/app/components/registered-bathroom-item/registered-bathroom-item.component.ts
  src/frontend/odongdong/src/app/components/registered-bathroom-item/registered-bathroom-item.module.ts
  src/frontend/odongdong/src/app/pages/edit-bathroom/edit-bathroom.page.ts
  src/frontend/odongdong/src/app/pages/register-list/register-list-routing.module.ts
  src/frontend/odongdong/src/app/pages/register-list/register-list.module.ts
  src/frontend/odongdong/src/app/pages/register-list/register-list.page.html
  src/frontend/odongdong/src/app/pages/register-list/register-list.page.scss
  src/frontend/odongdong/src/app/pages/register-list/register-list.page.spec.ts
  src/frontend/odongdong/src/app/pages/register-list/register-list.page.ts
  src/frontend/odongdong/src/app/services/bathroom/bathroom-service.ts
  src/frontend/odongdong/src/app/tabs/profile-tab/profile.page.html
  src/frontend/odongdong/src/app/tabs/profile-tab/profile.page.ts
  src/frontend/odongdong/src/assets/svg/delete-gray.svg
  src/frontend/odongdong/src/assets/svg/delete-red.svg
  src/frontend/odongdong/src/assets/svg/edit-blue.svg
  src/frontend/odongdong/src/assets/svg/edit-gray.svg
  src/frontend/odongdong/src/assets/svg/map/edit.svg
Labels: frontend, feat

#140 빨간색 마커를 추가하고, isOpened에 따른 텍스트를 처리했습니다
  src/frontend/odongdong/src/app/components/bathroom-detail/bathroom-detail.component.html
  src/frontend/odongdong/src/app/components/bathroom-detail/bathroom-detail.component.scss
  src/frontend/odongdong/src/app/components/bathroom-detail/bathroom-detail.component.ts
  src/frontend/odongdong/src/app/pages/register-list/register-list.page.ts
  src/frontend/odongdong/src/app/services/kakao-map/kakao-map-service.ts
  src/frontend/odongdong/src/app/tabs/main-tab/main.page.ts
  src/frontend/odongdong/src/assets/images/map/marker-clicked-red.png
  src/frontend/odongdong/src/assets/svg/map/map-marker-red.svg
  src/frontend/odongdong/src/assets/svg/map/unisex.svg
Labels: enhancement, frontend, feat

#144 [fix] ios에서 카카오톡 프로필 이미지가 노출되지 않던 문제 수정
  src/frontend/odongdong/src/app/services/auth/login-service.ts
  src/frontend/odongdong/src/app/services/image/image-service.ts
  src/frontend/odongdong/src/app/tabs/profile-tab/profile.page.html
  src/frontend/odongdong/src/app/tabs/profile-tab/profile.page.ts
Labels: frontend, feat

#146 별점 등록 및 로그인 여부에 따른 기능 접근 제한
  src/frontend/odongdong/src/app/components/bathroom-detail/bathroom-detail.component.html
  src/frontend/odongdong/src/app/components/bathroom-detail/bathroom-detail.component.ts
  src/frontend/odongdong/src/app/entities/mail.ts
  src/frontend/odongdong/src/app/modals/customer-service/customer-service.component.ts
  src/frontend/odongdong/src/app/pages/edit-bathroom/edit-bathroom.page.ts
  src/frontend/odongdong/src/app/services/auth/login-service.ts
  src/frontend/odongdong/src/app/services/bathroom/bathroom-service.ts
  src/frontend/odongdong/src/app/services/common/common-service.ts
  src/frontend/odongdong/src/app/services/mail/mail-service.ts
  src/frontend/odongdong/src/app/tabs/main-tab/main.page.ts
  src/frontend/odongdong/src/app/tabs/profile-tab/profile.page.html
  src/frontend/odongdong/src/app/tabs/profile-tab/profile.page.ts
Labels: frontend, feat

#147 기기에 따라 화장실 세부 정보가 가려지는 현상 수정
  src/frontend/odongdong/src/app/tabs/main-tab/main.page.scss
Labels: bug, frontend

#148 1.3.0 버전 배포
  src/frontend/odongdong/android/app/build.gradle
  src/frontend/odongdong/package-lock.json
  src/frontend/odongdong/package.json
  src/frontend/odongdong/src/constants.ts
  src/frontend/odongdong/src/environments/environment.prod.ts
  src/frontend/odongdong/src/environments/environment.ts
Labels: release

#150 [fix] 로그인 해도 별점 수정 안되든 현상 해결
  src/frontend/odongdong/src/app/components/bathroom-detail/bathroom-detail.component.ts
  src/frontend/odongdong/src/app/services/bathroom/bathroom-service.ts
Labels: bug

#153 개인정보 수정 메뉴 삭제, 로그아웃 메뉴 생성: 화장실 목록 조회와 로그아웃은 기능 비활성
  src/frontend/odongdong/src/app/app.component.scss
  src/frontend/odongdong/src/app/tabs/profile-tab/profile.page.html
  src/frontend/odongdong/src/app/tabs/profile-tab/profile.page.ts
Labels: bug

#154 [fix] 초기 로딩 시 지도가 깨져 보이는 경우가 발생하지 않도록 수정
  src/frontend/odongdong/src/app/tabs/main-tab/main.page.ts
  src/frontend/odongdong/src/app/tabs/profile-tab/profile.page.html
Labels: bug

#155 별점 컴포넌트 직접 구현
  src/frontend/odongdong/package-lock.json
  src/frontend/odongdong/package.json
  src/frontend/odongdong/src/app/components/bathroom-detail/bathroom-detail.component.html
  src/frontend/odongdong/src/app/components/bathroom-detail/bathroom-detail.component.scss
  src/frontend/odongdong/src/app/components/bathroom-detail/bathroom-detail.component.ts
  src/frontend/odongdong/src/app/components/bathroom-detail/bathroom-detail.module.ts
  src/frontend/odongdong/src/app/components/rating-component/rating-component.component.html
  src/frontend/odongdong/src/app/components/rating-component/rating-component.component.scss
  src/frontend/odongdong/src/app/components/rating-component/rating-component.component.spec.ts
  src/frontend/odongdong/src/app/components/rating-component/rating-component.component.ts
  src/frontend/odongdong/src/app/components/rating-component/rating-component.module.ts
  src/frontend/odongdong/src/app/modals/add-bathroom/add-bathroom.component.html
  src/frontend/odongdong/src/app/modals/add-bathroom/add-bathroom.component.ts
  src/frontend/odongdong/src/app/modals/add-bathroom/add-bathroom.module.ts
  src/frontend/odongdong/src/app/pages/edit-bathroom/edit-bathroom.module.ts
  src/frontend/odongdong/src/app/tabs/setting-tab/setting.module.ts
  src/frontend/odongdong/src/app/tabs/setting-tab/setting.page.html
  src/frontend/odongdong/src/app/tabs/setting-tab/setting.page.scss
  src/frontend/odongdong/src/app/tabs/setting-tab/setting.page.ts
  src/frontend/odongdong/src/assets/svg/star-blue.svg
  src/frontend/odongdong/src/assets/svg/star-gray.svg
Labels: enhancement, frontend, feat

#156 1.3.2 버그 수정
  src/frontend/odongdong/src/app/components/bathroom-detail/bathroom-detail.component.html
  src/frontend/odongdong/src/app/components/rating-component/rating-component.component.ts
  src/frontend/odongdong/src/app/services/mail/mail-service.ts
  src/frontend/odongdong/src/app/tabs/main-tab/main.page.scss
  src/frontend/odongdong/src/app/tabs/main-tab/main.page.ts
  src/frontend/odongdong/src/app/tabs/profile-tab/profile.page.html
  src/frontend/odongdong/src/app/tabs/profile-tab/profile.page.scss
  src/frontend/odongdong/src/app/tabs/setting-tab/setting.page.html
  src/frontend/odongdong/src/app/tabs/setting-tab/setting.page.scss
Labels: bug

#157 [chore] build 1.3.3
  src/frontend/odongdong/android/app/build.gradle
  src/frontend/odongdong/package-lock.json
  src/frontend/odongdong/package.json
  src/frontend/odongdong/src/constants.ts
  src/frontend/odongdong/src/environments/environment.prod.ts
  src/frontend/odongdong/src/environments/environment.ts
Labels: release
