Repository Team-odongdong/odongdong, pull requests merged in 2022-11, with the labels that each got.

#67 cicd path 백엔드 디렉토리로 설정
  .github/workflows/deploy.yml
  src/backend/src/main/java/com/graduate/odondong/controller/BathroomController.java
Labels: backend, feat

#70 화장실 등록시 이미지 s3업로드
  src/backend/build.gradle
  src/backend/src/main/java/com/graduate/odondong/config/AwsS3Config.java
  src/backend/src/main/java/com/graduate/odondong/controller/BathroomController.java
  src/backend/src/main/java/com/graduate/odondong/service/AwsS3Service.java
  src/backend/src/main/java/com/graduate/odondong/service/BathroomService/BathroomService.java
  src/backend/src/main/resources/application.yml
  src/backend/src/test/java/com/graduate/odondong/OdondongApplicationTests.java
  건대1.jpg
Labels: backend, feat

#76 개방운영시간에 따른 개방유무 반환
  src/backend/src/main/java/com/graduate/odondong/controller/BathroomController.java
  src/backend/src/main/java/com/graduate/odondong/service/BathroomService/BathroomService.java
  src/backend/src/main/java/com/graduate/odondong/util/BaseResponseStatus.java
  src/backend/src/main/java/com/graduate/odondong/util/operationTime/OperationTimeValidation.java
  src/backend/src/test/java/com/graduate/odondong/GraduatePrjApplicationTests.java
Labels: backend, feat

#77 [fix] change double click -> right click
  src/frontend/odongdong/src/app/tabs/main-tab/main.page.html
  src/frontend/odongdong/src/app/tabs/main-tab/main.page.ts
Labels: frontend

#78 Feature/marker disabled
  src/frontend/odongdong/src/app/modals/social-login/social-login.component.html
  src/frontend/odongdong/src/app/modals/social-login/social-login.component.scss
  src/frontend/odongdong/src/app/modals/social-login/social-login.component.spec.ts
  src/frontend/odongdong/src/app/modals/social-login/social-login.component.ts
  src/frontend/odongdong/src/app/modals/social-login/social-login.module.ts
  src/frontend/odongdong/src/app/services/auth/login-service.ts
  src/frontend/odongdong/src/app/tabs/main-tab/main.page.ts
  src/frontend/odongdong/src/app/tabs/profile-tab/profile.page.html
  src/frontend/odongdong/src/app/tabs/profile-tab/profile.page.scss
  src/frontend/odongdong/src/app/tabs/profile-tab/profile.page.ts
  src/frontend/odongdong/src/app/tabs/setting-tab/setting.page.scss
  src/frontend/odongdong/src/app/tabs/tabs.page.html
  src/frontend/odongdong/src/app/tabs/tabs.page.ts
  src/frontend/odongdong/src/assets/images/kakao_login_medium_wide.png
  src/frontend/odongdong/src/assets/images/map/add-new.png
  src/frontend/odongdong/src/assets/images/map/marker-clicked-disabled.png
  src/frontend/odongdong/src/assets/images/map/marker-clicked.png
  src/frontend/odongdong/src/assets/images/profile/profile-default.png
  src/frontend/odongdong/src/assets/svg/chevron-right.svg
  src/frontend/odongdong/src/assets/svg/logo_white.svg
  src/frontend/odongdong/src/assets/svg/map/map-marker-disabled.svg
  src/frontend/odongdong/src/index.html
  src/frontend/odongdong/src/theme/colors.scss
  src/frontend/odongdong/src/theme/common.scss
Labels: enhancement, frontend

#79 [chore] build 1.1.4
  src/frontend/odongdong/package-lock.json
  src/frontend/odongdong/package.json
  src/frontend/odongdong/src/app/modals/social-login/social-login.module.ts
  src/frontend/odongdong/src/app/tabs/main-tab/main.module.ts
  src/frontend/odongdong/src/app/tabs/main-tab/main.page.ts
  src/frontend/odongdong/src/app/tabs/profile-tab/profile.module.ts
  src/frontend/odongdong/src/app/tabs/profile-tab/profile.page.html
  src/frontend/odongdong/src/app/tabs/profile-tab/profile.page.scss
  src/frontend/odongdong/src/app/tabs/profile-tab/profile.page.ts
  src/frontend/odongdong/src/app/tabs/tabs.page.ts
  src/frontend/odongdong/src/constants.ts
  src/frontend/odongdong/src/environments/environment.prod.ts
  src/frontend/odongdong/src/environments/environment.ts
Labels: build

#80 운영시간이 null값일때 발생하는 오류 검증
  src/backend/src/main/java/com/graduate/odondong/util/operationTime/OperationTimeValidation.java
Labels: bug, backend

#81 [fix] version 1.1.4
  src/frontend/README.md
  src/frontend/odongdong/android/app/capacitor.build.gradle
  src/frontend/odongdong/android/capacitor.settings.gradle
  src/frontend/odongdong/package-lock.json
  src/frontend/odongdong/package.json
  src/frontend/odongdong/src/app/components/bathroom-detail/bathroom-detail.component.html
  src/frontend/odongdong/src/app/components/bathroom-detail/bathroom-detail.component.ts
  src/frontend/odongdong/src/app/modals/add-bathroom/add-bathroom.component.ts
  src/frontend/odongdong/src/app/services/bathroom/bathroom-service.ts
  src/frontend/odongdong/src/app/services/common/common-service.ts
  src/frontend/odongdong/src/app/services/kakao-map/kakao-map-service.ts
  src/frontend/odongdong/src/app/tabs/main-tab/main.page.ts
  src/frontend/odongdong/src/assets/images/map/add-new.png
  src/frontend/odongdong/src/assets/svg/map/add-new.svg
  src/frontend/odongdong/src/assets/svg/map/current-location-alt.svg
  src/frontend/odongdong/src/assets/svg/map/current-location.svg
  src/frontend/odongdong/tsconfig.json
Labels: enhancement, frontend

#82 [fix] 사진 찍기 기능 픽스
  src/frontend/odongdong/package-lock.json
  src/frontend/odongdong/src/app/modals/add-bathroom/add-bathroom.component.ts
  src/frontend/odongdong/src/app/services/image/image-service.ts
  src/frontend/odongdong/src/main.ts
Labels: frontend, feat
